<!DOCTYPE html>
<html>
  <head>
    <title>CONCEJ 2018 - EvenTi Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login' %>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/egej/icon.png">

    <meta property="og:url"           content="http://www.egej18.herokuapp.com/login" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="EGEJ 2018 - Área do Congressista" />
    <meta property="og:description"   content="Encontro Gaúcho de Empresas Juniores. #qualoteuimpacto" />
    <meta property="og:image" content="http://www.egej18.herokuapp.com/images/egej/face_share.jpg" />

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <meta name="robots" content="index, follow">
    <meta name="author" content="GTi Engenharia Júnior">
    <meta name="description" content="Encontro Gaúcho de Empresas Juniores. #qualoteuimpacto">
    <meta name="keywords" content="mej, eventi, gti, empreendedorismo, empresa júnior, ej, empresário júnior, sites, sistemas, aplicativos, fejece, confederação, empresas, empresa, junior, federação, ufc, congresso, FEJERS, EGEJ 2018, egej, Gauxo, RS, brasil jr, evento, encontro">
  </head>

  <body style="background: url(/images/egej/fundo.png) top center; background-size: cover;">
  <div> &nbsp; </div>
   <% flash.each do |key, value| %>
    <script type="text/javascript">
      toastr.warning('<span><%= value %></span>', "Aviso");
     </script>
  <% end %> 
	<%= yield %>
  

  
  	<%= javascript_include_tag 'login_footer' %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99218672-3', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>


