<!DOCTYPE html>
<html>
  <head>
    <title>EGEJ 2018 - ADMIN - EvenTi Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login' %>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/encej/icon.png">
    <link rel="manifest" href="/icons/app-images/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <meta name="robots" content="index, follow">
    <meta name="author" content="GTi Engenharia Júnior">
    <meta name="description" content="Encontro Gaúcho de Empresas Juniores. #qualoteuimpacto">
    <meta name="keywords" content="mej, eventi, gti, empreendedorismo, empresa júnior, ej, empresário júnior, sites, sistemas, aplicativos, fejece, confederação, empresas, empresa, junior, federação, ufc, congresso, FEJERS, EGEJ 2018, egej, Gauxo, RS, brasil jr, evento, encontro">
  </head>

  <body style="background: url(/images/egej/fundo.png) top center; background-size: cover;">
  <div> &nbsp; </div>
   <% flash.each do |key, value| %>
    <script type="text/javascript">
      toastr.warning('<span><%= value %></span>', "Aviso");
     </script>
  <% end %> 
	<%= yield %>
  	</div>

  
  	<%= javascript_include_tag 'login_footer' %>
  </body>
</html>
